.root_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #502b77;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.resgister-page {
    width: 500px;
    padding: 40px;
    background-color: rgba(58, 36, 36, 0.6);
    color: #fff;
    border-radius: 10px;
}

.heading {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

Input {
    padding: 10px !important;
    font-size: 16px;
}

label {
    font-size: 18px !important;
    color: #15df47 !important;
    font-weight: 500;
}

.bottom_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font: #e9e0e0;
    font-size: 20px;
}